.LiveArray {
    width: fit-content;
    margin: 10px;
}

.ArrayCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
    width: 150px;
    height: 28px;
}

.ArrayIndex {
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
    width: 28px;
    height: 28px;
}

.ArrayRow {
    display: flex;
    flex-direction: row;
}

.Highlight {
    background-color: #FAFAD2;
}

.HighlightDark {
    background-color: #90EE90;
}